.opening__text--show {
    opacity: 1;
}

.cookie_left_cracking {
    animation: crackingLeft 5s ease-out forwards;
}

.cookie_right_cracking {
    animation: crackingRight 5s ease-out forwards;
}

@keyframes crackingLeft {
  0% {
    transform: translate(0, 0) rotate(0deg);
    opacity: 1;
  }
  10% {
    transform: translate(-200px, -100px) rotate(-30deg);
  }
  20% {
    transform: translate(-200px, 0) rotate(-40deg);
  }
  30% {
    transform: translate(-200px, 30px) rotate(-40deg);
    opacity: 0;
  }
  40% {
    transform: translate(-200px, 40px) rotate(-50deg);
    opacity: 0;
  }
  100% {
    transform: translate(-200px, 40px) rotate(-50deg);
    opacity: 0;
  }
}


@keyframes crackingRight {
  0% {
    transform: translate(0, 0) rotate(0deg);
    opacity: 1;
  }
  10% {
    transform: translate(200px, -100px) rotate(30deg);
  }
  20% {
    transform: translate(200px, 0) rotate(40deg);
  }
  30% {
    transform: translate(200px, 30px) rotate(40deg);
    opacity: 0;
  }
  40% {
    transform: translate(200px, 40px) rotate(50deg);
    opacity: 0;
  }
  100% {
    transform: translate(200px, 40px) rotate(50deg);
    opacity: 0;
  }
}
