@import "tailwindcss";

* {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

body {
  background-color: var(--color-blackMain);
  font-family: "Roboto", sans-serif;
  color: white;
}

button,
a {
  cursor: pointer;
}